html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
}

:root {
  --primary-color: #ec7532;
  --secondary-color: #fbbd61;
  --white-text: white;
  --gray-text: #717171;
  --black-text: black;
}

button {
  cursor: pointer;
}

/* HEADER */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header__contact {
  /* padding-bottom: 15px; */
  padding-top: 15px;
  color: var(--white-text);
}
/* NAVBAR */
#navbar {
  /* padding-bottom: 20px; */
}
#navbar .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
}

#navbar .navbar-nav {
  border-bottom: 1px solid var(--gray-text);
}

#navbar .navbar-nav .nav-item {
  /* border: 1px solid yellow; */
}

#navbar .navbar-nav .nav-item:hover a {
  /* border: 1px solid yellow; */
  color: var(--primary-color);
  transition: ease-in-out 0.5s;
}

#navbar .navbar-nav .nav-item .nav-link {
  /* border: 1px solid blue; */
  padding: 10px 20px;
}

#navbar .navbar-nav .nav-item::after {
  content: "";
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  /* position: absolute;
  bottom: -1px;
  left: 0; */
  display: block;
  transition: all 0.5s;
}

#navbar .navbar-nav .nav-item:hover::after,
#navbar .navbar-nav .nav-item.active::after {
  width: 100%;
  /* color:rgb(255, 255, 255) */
}

#navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navbar .navbar-toggler {
  border-color: white;
}

/* CAROUSEL START */
#top-carousel .carousel-caption__config {
  text-align: left;
  top: 28%;
  left: 7%;
  position: absolute;
  padding-right: 20%;
}

.carousel-caption__config span {
  color: #fbbd61;
  font-size: 14px;
  letter-spacing: 2px;
}

.carousel-caption__config h1 {
  font-weight: 400;
}

.carousel-caption__config p {
  font-size: 18px;
}

.carousel-item__trailer span {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  line-height: 36px;
}

.btn-orange {
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 40px;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 11px 30px;
}

.carousel-indicators__config {
  justify-content: flex-start;
  bottom: 30px;
}

.carousel-indicators__config li {
  width: 11px;
  height: 11px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
}

.carousel-indicators__config li.active {
  background: white;
}
/* CAROUSEL END */

/* MEDIA QUERIES */

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  ...;
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}
