html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
}

:root {
  --primary-color: #ec7532;
  --secondary-color: #fbbd61;
  --white-text: white;
  --gray-text: #717171;
  --black-text: black;
}

button {
  cursor: pointer;
}

/* HEADER */

header {
  background-color: black;
}

.header__contact {
  /* padding-bottom: 15px; */
  padding-top: 15px;
  color: var(--white-text);
}
/* NAVBAR */
#navbar {
  /* padding-bottom: 20px; */
}
#navbar .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
}

#navbar .navbar-nav {
  border-bottom: 1px solid var(--gray-text);
}

#navbar .navbar-nav .nav-item {
  /* border: 1px solid yellow; */
}

#navbar .navbar-nav .nav-item:hover a {
  /* border: 1px solid yellow; */
  color: var(--primary-color);
}

#navbar .navbar-nav .nav-item .nav-link {
  /* border: 1px solid blue; */
  padding: 10px 20px;
}

#navbar .navbar-nav .nav-item::after {
  content: "";
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  /* position: absolute;
  bottom: -1px;
  left: 0; */
  display: block;
  transition: all 0.5s;
}

#navbar .navbar-nav .nav-item:hover::after,
#navbar .navbar-nav .nav-item.active::after {
  width: 100%;
}
