html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
}

:root {
  --primary-color: #ec7532;
  --secondary-color: #fbbd61;
  --white-text: white;
  --gray-text: #717171;
  --black-text: black;
}

button {
  cursor: pointer;
}

/* HEADER */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header__contact {
  /* padding-bottom: 15px; */
  padding-top: 15px;
  color: var(--white-text);
}
/* NAVBAR */
#navbar {
  /* padding-bottom: 20px; */
}
#navbar .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
}

#navbar .navbar-nav {
  border-bottom: 1px solid var(--gray-text);
}

#navbar .navbar-nav .nav-item {
  /* border: 1px solid yellow; */
}

#navbar .navbar-nav .nav-item:hover a {
  /* border: 1px solid yellow; */
  color: var(--primary-color);
  transition: ease-in-out 0.5s;
}

#navbar .navbar-nav .nav-item .nav-link {
  /* border: 1px solid blue; */
  padding: 10px 20px;
}

#navbar .navbar-nav .nav-item::after {
  content: "";
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  /* position: absolute;
  bottom: -1px;
  left: 0; */
  display: block;
  transition: all 0.5s;
}

#navbar .navbar-nav .nav-item:hover::after,
#navbar .navbar-nav .nav-item.active::after {
  width: 100%;
  /* color:rgb(255, 255, 255) */
}

#navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navbar .navbar-toggler {
  border-color: white;
}

/* CAROUSEL START */
#top-carousel .carousel-caption__config {
  text-align: left;
  top: 28%;
  left: 7%;
  position: absolute;
  padding-right: 20%;
}

#top-carousel .carousel-item {
  height: 800px;
}

#top-carousel .item-1 {
  background: url(../img/hero-1.jpg) no-repeat center center;
  background-size: cover;
}
#top-carousel .item-2 {
  background: url(../img/hero-2.jpg) no-repeat center center;
  background-size: cover;
}
#top-carousel .item-3 {
  background: url(../img/hero-3.jpg) no-repeat center center;
  background-size: cover;
}
.carousel-caption__config span {
  color: #fbbd61;
  font-size: 14px;
  letter-spacing: 2px;
}

.carousel-caption__config h1 {
  font-weight: 400;
}

.carousel-caption__config p {
  font-size: 18px;
}

.carousel-item__trailer span {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  line-height: 36px;
}

.btn-orange {
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 40px;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 11px 30px;
}

.carousel-indicators__config {
  justify-content: flex-start;
  bottom: 30px;
}

.carousel-indicators__config li {
  width: 11px;
  height: 11px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
}

.carousel-indicators__config li.active {
  background: white;
}
/* CAROUSEL END */

/* SHOWING MOVIE START */
.section-title {
  color: var(--primary-color);
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.section-title::before {
  content: "";
  width: 180px;
  height: 3px;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  bottom: -1px;
  left: 0;
}

.movie__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.movie__detail {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(0.8);
  opacity: 0;
  transition: all 0.5s;
}

.movie__detail i {
  width: 60px;
  height: 60px;
  font-size: 14px;
  border-radius: 50%;
  border: 2px solid white;
  line-height: 60px;
  cursor: pointer;
}

.movie__detail a {
  font-size: 10px;
  letter-spacing: 2px;
}

.movie__detail span {
  font-size: 12px;
}

.movie__overlay {
  position: absolute;
  top: 0;
  left: -1000%;
  transform: skewX(45deg);
  width: 800px;
  height: 100%;
  background: linear-gradient(to bottom, #fbbd61, #ec7532);
  transition: all 0.5s;
}

.movie__item:hover .movie__overlay {
  left: -100%;
}

.movie__item:hover .movie__detail {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.movie__name {
  font-size: 18px;
}

.movie__star {
  color: var(--secondary-color);
}

/* SHOWING MOVIE END */

/* SHOWTIME START */
.showtime .nav-tabs .nav-link {
  position: relative;
  color: #4a4a4a;
  padding: 10px 30px;
}
.showtime .nav-tabs .nav-link:before {
  content: "";
  width: 0;
  height: 3px;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: all 0.5s;
}
.showtime .nav-tabs .nav-link.active,
.showtime .nav-tabs .nav-link:hover {
  /* border-color: none; */
}
.showtime .nav-tabs .nav-link.active:before,
.showtime .nav-tabs .nav-link:hover:before {
  width: 100%;
}

.showtime__movie img {
  border-radius: 10px;
}
.showtime__list {
  color: #717171;
}

.showtime__detail > span {
  font-size: 14px;
  color: #ec7532;
  letter-spacing: 2px;
}
.showtime__detail > h1 {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
}
.showtime__detail > p {
  font-size: 16px;
}
.showtime__detail > a {
  font-size: 12px;
  color: #ec7532;
  letter-spacing: 3px;
}
.showtime__list i,
.showtime__list span {
  font-size: 14px;
}
.showtime__length span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
}

/* COMMING CSS */
.coming {
  background-color: #000;
}
.coming__bg {
  padding: 80px 0;
  background: url("../img/slide-3.png") no-repeat center center;
  background-size: cover;
}
.coming__bg .section-title {
  color: white;
}
.coming__detail > span {
  font-size: 14px;
  color: #ec7532;
}
.coming__detail h1 {
  font-weight: 300;
  font-size: 34px;
}
.coming__detail .fa-star {
  font-size: 14px;
  color: #fbbd61;
}
.coming__date {
  opacity: 0.75;
  font-size: 14px;
}

.coming__detail a {
  color: #ec7532;
  letter-spacing: 3px;
}
.coming__trailer {
  position: relative;
}
.coming__trailer .video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #ec7532;
  transition: all 0.2s;
  font-size: 20px;
}
.coming__trailer .video-play:hover {
  transform: translate(-50%, -50%) scale(0.9);
}
.coming__item {
  opacity: 0.4;
  transition: all 0.4s;
}
.coming__item:hover,
.coming__item.active {
  opacity: 1;
}
.coming__item img {
  border-radius: 10px;
}
.coming__item span {
  font-size: 14px;
  opacity: 0.75;
}
.coming__list {
  padding: 40px 0;
}
/* END COMMING CSS */
/* CONTACT CSS */
.contact__content {
  padding: 50px 0;
}
.contact__content p {
  font-size: 23px;
}
.contact__content h1 {
  font-size: 40px;
  font-weight: 400;
  color: #ec7532;
}
/* END CONTACT CSS */

/* FOOTER CSS */
.footer {
  background-color: #101010;
  padding: 50px 0;
}
.footer h3 {
  color: #ec7532;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
.footer ul li a:hover {
  color: #ec7532;
}
.copy-right {
  border-color: rgba(255, 255, 255, 0.2) !important;
}
/* MEDIA QUERIES */

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  .movie__overlay {
    left: -1000%;
    width: 1200px;
  }
}

.movie__item:hover .movie__overlay {
  left: -320px;
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .movie__overlay {
    left: -900%;
  }
  .movie__detail i {
    width: 60px;
    height: 60px;
    font-size: 14px;
    border-radius: 50%;
    border: 2px solid white;
    line-height: 55px;
    cursor: pointer;
  }

  .movie__detail a {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .movie__detail span {
    font-size: 16px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* .movie__detail {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(0.8);
    opacity: 0;
    transition: all 0.5s;
  }

  .movie__detail i {
    width: 80px;
    height: 80px;
    font-size: 18px;
    border-radius: 50%;
    border: 2px solid white;
    line-height: 75px;
    cursor: pointer;
  } */

  .movie__detail a {
    font-size: 13px;
    letter-spacing: 2px;
  }

  .movie__detail span {
    font-size: 16px;
  }
}
